/* ************************ Custom Properties *********************** */
:root {
  --firts-color: #2c3333;
  --secont-color: #2e4f4f;
  --three-color: #0e8388;
  --four-color: #cbe4de;
  --white-pure: #fff;
  --font-main: "Chakra Petch", sans-serif;
  --colorPure: #fff;
  --colorTransparen: #0e838840;
  /* los dos ultimos mide la opacidad este caso 50% */
}

[tema="light"] {
  --firts-color: #cbe4de;
  --secont-color: #fff;
  --four-color: #2e4f4f;
  --white-pure: #2c3333;
  --colorPure: #000;
}

/* ************************ Reser *********************** */
html {
  box-sizing: border-box;
  font-family: var(--font-main);
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--white-pure);
  /* background-color: var(--firts-color); */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: var(--font-secundary);
  line-height: 1.6;
}

.none {
  display: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}

/* ************************ Components *********************** */

/* ** NAVBAR-GENERAL ** */

.header {
  position: fixed;
  display: block;
  z-index: 4;
  width: 100vw;
  background-color: var(--firts-color);
}

.hea-container {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  /* .header {
    height: 10vh;
  } */
}

@media screen and (min-width: 1024px) {
  .header {
    width: 100%;
    height: 10vh;
    padding: 1rem 0 0 0;
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
  }

  .hea-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
  }

  .header-background {
    background-color: var(--firts-color);
    transition: background-color 0.2s ease-out;
  }
}

/* ** NAVBAR-Menu ** */

.hea-menu {
  position: fixed;
  z-index: 996;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--three-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  transform: translate(0, -100%);
}

.hea-menu a {
  text-decoration: none;
  color: var(--white-pure);
  font-size: 2rem;
  padding: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}

.hea-menu a:hover {
  transition: scale 0.3s ease-out;
  scale: 1.2;
  color: var(--secont-color);
}

.hea-menu.is-active {
  transform: translate(0, 0);
}

@media screen and (min-width: 1024px) {
  .hea-menu {
    background-color: transparent;
    flex-direction: row;
    position: relative;
    transform: translate(0, 0);
  }

  .hea-menu a {
    font-size: 1rem;
  }

  .hea-menu a:hover {
    color: var(--three-color);
  }

  .activeLink {
    color: var(--three-color) !important;
  }
}

/* ** NAVBAR-Buton ** */

.btn-movil {
  position: fixed;
  z-index: 999;
  right: 1.5rem;
  bottom: 1.5rem;
  background-color: var(--three-color);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.btn-movil:hover {
  transform: scale(1.3);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: #fff;
}

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .btn-movil {
    opacity: 0;
    visibility: hidden;
  }
}

/* ** NAVBAR-Logo ** */

.hea-logo {
  width: auto;
  height: 100%;
}

.hea-logo a {
  display: inline-block;
  height: 100%;
  padding: 1rem 0 0.5rem 1rem;
}

.hea-logo a img {
  transition: transform 0.3s ease;
  min-width: 5rem;
  max-width: 9rem;
  height: auto;
}

.hea-logo a img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .hea-logo a img {
    min-width: 8rem;
    max-width: 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .hea-logo a {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }

  .hea-logo a img {
    min-width: 3rem;
    max-width: 5rem;
  }
}

/* ** NAVBAR-Opciones** */
.hea-contexts {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
}

.hea-contexts button {
  background-color: transparent;
  border: none;
  font-size: 2.8rem;
  padding: 0;
  margin-left: 1rem;
}

.hea-sun-moon {
  color: var(--white-pure);
  transition: transform 0.2s ease;
}

.hea-sun-moon:hover {
  transform: scale(1.5) rotate(45deg);
  cursor: pointer;
}

.hea-contexts select {
  background-color: var(--three-color);
  border: none;
  margin: auto;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.2rem;
  transition: background-color 0.2s ease;
  font-size: 1rem;
}

.hea-contexts select:hover {
  background-color: var(--secont-color);
  color: var(--colorPure);
  cursor: pointer;
}

select option {
  border: none;
}

@media screen and (min-width: 1024px) {
  .hea-contexts {
    position: relative;
    right: auto;
    top: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hea-contexts button {
    font-size: 1.8rem;
  }

  .hea-contexts select {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}

/* ** footer ** */
.footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
  }
}
/* ************************ site web *********************** */

/* ** General ** */

/* ** Scrolll ** */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--firts-color);
}

::-webkit-scrollbar-thumb {
  background: var(--three-color);
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--four-color);
}

.about {
  padding: 7rem 1rem 0 1rem;
  text-align: center;
}

.title-container {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .about {
    /* padding: 8rem 6rem 1rem 6rem; */
    padding: 0 10rem;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .conteiner-section {
    padding-top: 8rem;
    height: auto;
  }
  .title-container {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    /* padding: 0 10rem; */
    min-width: 65rem;
    max-width: 65rem;
    height: auto;
    align-items: center;
    position: relative;
  }

  .about {
    padding: 2rem 0 0 0;
  }

  .conteiner-section {
    min-height: 80vh;
    width: auto;
    height: auto;
    padding-top: 0;
  }

  .title-container {
    margin-bottom: 2rem;
  }
}

/* ** Home ** */
.home-info p {
  text-align: left;
  padding-top: 1rem;
  padding: 0;
}

.home-info h1 {
  padding-bottom: 1.5rem;
}

.home-subTitle {
  font-size: 1.5rem;
}

.home-subTitle span {
  color: var(--three-color);
}

.home-social {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.home-social a {
  color: var(--white-pure);
  text-decoration: none;
  font-size: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: color 0.2s ease;
}

.home-social a:hover {
  color: var(--three-color);
}

.home-btn-dow {
  display: block;
  font-size: 0.9rem;
  font-family: var(--font-main);
  background-color: var(--four-color);
  color: var(--firts-color);
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
  text-decoration: none;
}

.home-btn-dow:hover {
  background-color: var(--three-color);
  color: var(--white-pure);
  cursor: pointer;
}

.home-photo img {
  margin-top: 1rem;
  border-radius: 2rem;
  aspect-ratio: auto;
}

@media screen and (min-width: 768px) {
  .home-photo img {
    min-width: 15rem;
    max-width: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    height: 80vh;
    width: 100%;
    gap: 2rem;
  }
  .home-info {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
  }

  .home-info h1 {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 1rem;
  }

  .home-info h3 {
    text-align: left;
  }

  .home-info p {
    /* padding-top: 0.5rem; */
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  .home-social {
    display: flex;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }

  .home-social a {
    font-size: 2rem;
    padding-left: 0;
  }

  .home-btn-dow {
    min-width: 30%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0.3rem;
  }

  .home-photo {
    width: 100%;
    height: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    aspect-ratio: auto;
  }

  .home-photo img {
    margin: 0;
    border-radius: 50%;
    min-width: 20rem;
    max-width: 25rem;
    height: auto;
  }
}

/* ** Educacion ** */

.his-info {
  text-align: left;
}

.his-info h3 {
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.his-info article {
  margin-bottom: 1rem;
}

.his-formacion h3,
.his-work h3 {
  color: var(--three-color);
}

.his-formacion h4,
.his-work h4 {
  color: var(--four-color);
}

.his-work h5,
.his-work p {
  font-size: 1rem;
}

.panel-history-work span {
  font-weight: 800;
  color: var(--four-color);
}

.his-info p {
  margin: 0.3rem 0 0 0;
  font-family: sans-serif;
  line-height: 1.4;
}

.his-edu {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .his-formacion,
  .his-work {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .conteiner-section section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }

  .his-formacion,
  .his-work {
    display: flex;
    padding: 0;
    gap: 2rem;
    height: auto;
  }

  .his-formacion {
    height: 50vh;
  }

  .his-work {
    height: auto;
    flex-direction: row-reverse;
  }

  .formacion-img,
  .formacion-info,
  .work-img,
  .work-info {
    flex-grow: 1;
    width: 100%;
    height: auto;
  }

  .formacion-img,
  .work-img {
    padding: 1rem 0;
    aspect-ratio: auto;
  }

  .formacion-info,
  .work-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formacion-img img,
  .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ** Habilidades ** */
.hab-container {
  /* padding-top: 1rem; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); */
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1rem;
}

.hab-dom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  gap: 2rem;
}

.hab-conte {
  padding: 1rem 0;
  background-color: var(--colorTransparen);
  border-radius: 0.5rem;
  border: solid var(--white-pure) 0.1rem;
}

.hab-conte h3 {
  padding-bottom: 2rem;
}

.logo-cvg i {
  font-size: 7rem;
  color: var(--four-color);
}

.logo-cvg h5 {
  font-size: 1rem;
  padding: 1rem 0;
  color: var(--white-pure);
}

.habl-container {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.icon-svg path {
  fill: var(--white-pure);
}

@media screen and (min-width: 768px) {
  .hab-dom {
    gap: 1rem;
  }

  .logo-cvg i {
    font-size: 5rem;
  }

  .habl-container {
    width: 70px;
    height: 70px;
  }
  .hab-conte {
    padding: 2rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hab-container {
    /* grid-template-columns: repeat(auto-fit, minmax(12.5%, 1fr)); */
    flex-direction: row;
  }

  .hab-container-2 {
    flex-direction: column;
  }

  .logo-cvg {
    padding: 1rem 0;
  }

  .logo-cvg i {
    font-size: 3rem;
  }

  .logo-cvg h5 {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .habl-container {
    width: 50px;
    height: 50px;
  }
  .hab-conte {
    padding: 2rem 1rem;
  }

  .hab-conte h3 {
    padding-bottom: 1rem;
  }

  .hab-conte-tm {
    min-width: 25rem;
    max-width: 35rem;
    height: 12rem;
  }

  .hab-dom {
    gap: 2rem;
  }
}

/* ** Proyectos ** */

.pro-navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--four-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.pro-navbar a {
  color: var(--firts-color);
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--font-secundary);
  transition: all 0.3s ease;
}

.pro-navbar a:hover {
  color: var(--white-pure);
  background-color: var(--three-color);
  scale: 1.2;
  cursor: pointer;
}

.Proyect-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 0.5rem 1rem;
}

.Proyect-btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  gap: 0.7rem;
  width: 100%;
  padding-top: 1rem;
}

.Proyect-btn:hover img {
  transform: scale(1.3);
  opacity: 1;
  height: 100%;
  z-index: 1;
}

.Proyect-btn:hover {
  border-radius: 1.5rem;
  cursor: pointer;
}

.img-proyect {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.img-proyect img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  aspect-ratio: 0.75;
}

.litle-proyect {
  display: block;
  position: static;
  background-color: var(--three-color);
  color: #fff;
  width: 100%;
}

.litle-proyect h4 {
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .pro-navbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 3rem;
    border-radius: 1rem;
  }
  .pro-navbar a {
    width: 100%;
    font-size: 1rem;
  }

  .pro-navbar a:hover {
    color: var(--three-color);
    background-color: transparent;
  }

  .Proyect-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .pro-navbar {
    margin: auto;
    width: 50%;
    justify-content: center;
  }

  .Proyect-container {
    grid-template-columns: repeat(auto-fit, minmax(14.5%, 1fr));
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .title-proyect {
    padding-bottom: 0;
  }

  .litle-proyect h4 {
    font-size: 0.7rem;
  }
}

.proyect-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

/* ** Erro 404 ** */
.seccion-error {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-error h2 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  .seccion-error {
    height: 80vh;
  }
}

/* ************************ Fondo animado *********************** */

.context {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.area {
  background: var(--firts-color);
  /* background: -webkit-linear-gradient(to left, #d83f31, #e9b824); */
  width: 100%;
  height: 100vh;
  position: fixed;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--four-color);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

@media screen and (min-width: 992px) {
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .context {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
